<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SignupLogInRealtime"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".WorkoutSessionActivity"
            android:exported="false" />
        <!-- Activities -->
        <activity
            android:name=".Promo"
            android:exported="false" />
        <activity
            android:name=".WorkoutList"
            android:exported="false" />
        <activity
            android:name=".HealthIssues"
            android:exported="false" />
        <activity
            android:name=".FitnessGoal"
            android:exported="false" />
        <activity
            android:name=".FitnessLevel"
            android:exported="false" />
        <activity
            android:name=".HeightWeightInput"
            android:exported="false" />
        <activity
            android:name=".AgeInput"
            android:exported="false" />
        <activity
            android:name=".GenderSelection"
            android:exported="false" />
        <activity
            android:name=".SelectMembership"
            android:exported="false" />
        <activity
            android:name=".Notification"
            android:exported="false" />
        <activity
            android:name=".Achievement"
            android:exported="false" />
        <activity
            android:name=".Profile"
            android:exported="false" />
        <activity
            android:name=".QR"
            android:exported="false" /> <!-- Splash (Launcher Activity) -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".SignupActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".AboutusActivity"
            android:exported="false" />
    </application>

</manifest>